{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-date-fns",
    "babel-plugin-ramda",
    "@babel/plugin-transform-object-assign"
  ]
}
